<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Rank: <%=division%> <%=subdivision%> <%=lp%> LP </h1>
    <h1>Win Rate: <%=ratio%> </h1>
    <h1>Wins: <%=wins%>  </h1>
    <h1>Most Played Champs: <%=ChampMastery1%>, <%=ChampMastery2%>, and <%=ChampMastery3%>  </h1>

  </body>
</html>
